.Jecht {
  border: 2px dashed black;
  width: 20vw;
  text-align: center;
}

#a0 {
  margin-top: 20vh;
  margin-left: 20vw;
}

#a1 {
  margin-top: 3vh;
  margin-left: 3vw;
}

#a2 {
  margin-top: 50vh;
  margin-left: 70vw;
}

#a3 {
  margin-top: 25vh;
  margin-left: 15vw;
}

#a4 {
  margin-top: 5vh;
  margin-left: 65vw;
}

#a5 {
  margin-top: 9vh;
  margin-left: 45vw;
}

#a6 {
  margin-top: 70vh;
  margin-left: 7vw;
}